@import url('https://fonts.cdnfonts.com/css/bukhari-script');

                

.navbar {
    max-height: 60px; /* Ajuste conforme necessário */
}

.navbar-h1 {
    font-size: 1.5rem; /* Altere este valor conforme necessário para o tamanho desejado */
}
.navbar-brand{
    font-family: 'Bukhari Script';
    color: red;
}
.navbar-brand:hover{
    color: red;
    transform: scale(1.1);
}

body{
    background-color:whitesmoke;
    margin: 0;
    height: 100%;
    margin-bottom: 5%;
}

footer{
    height: 8%;
}

.celulaFilme{
    padding: 2em;
}

.slick-prev:before {
    color: black;
  }
  .slick-next:before {
    color: black;
  }

#leftbox {
    float:left; 
    background:rgb(255, 255, 255);
    background-image:url("/img/CineImgLogin2.png");
    background-size: cover;
    width:60%;
    height:600px;
}

#rightbox{
    float:right;
    background: #4c56c0;
    width:40%;
    height: 600px;
}

      
